.container{
 position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    color: #fff;
    font-family: Arial, Helvetica, sans-serif;

    background-color: rgba(0, 0, 0, 0.443);
    display: flex;
    flex-direction: column;
}

.container > h1 {
    margin: 2rem auto 1rem auto;
    font-size: 1rem;
    font-weight: bold;
     color: #fff;
  text-align: center;
  text-decoration: none;
  border: 6px solid white;
  outline: 0;
  padding: 12px 35px;
  display: inline-block;
  transform: skew(-21deg);

}

.container > h1 > span {
    display: inline-block;
  transform: skew(21deg);
}

.container p {
    margin: 0 auto;
    font-size: 14px;
}

#myEnterVRButton, #controlsBtn{
   
  color: #fff;
  /* background: #ec8e13; */
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border: 6px solid white;
  outline: 0;
  font-size: 10px;
  padding: 12px 35px;
  display: inline-block;
  transform: skew(-21deg);
  margin: 1rem auto;
  transition: all 0.2s ease-in-out;
  
}

#myEnterVRButton > span, #controlsBtn > span, #controls > span {
  display: inline-block;
  transform: skew(21deg);
}

#myEnterVRButton:hover, #controlsBtn:hover{
    scale: 1.1;

}

#controls {
   display: none;
  color: #fff;
  /* background: #ec8e13; */
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border: 6px solid white;
  outline: 0;
  padding: 12px 35px;
  transform: skew(-21deg);
  margin: 1rem auto;
  transition: all 0.2s ease-in-out;
  
}

#controls p {
    font-size: 14px;
}

